alabaster==0.7.9
astroid==1.4.9
Babel==2.3.4
backports.functools-lru-cache==1.3
beautifulsoup4==4.5.3
click==6.7
configparser==3.5.0
coverage==4.3.1
cycler==0.10.0
decorator==4.0.10
docutils==0.13.1
Flask==0.12
Flask-Login==0.4.0
funcsigs==1.0.2
future==0.16.0
imagesize==0.7.1
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.3
lazy-object-proxy==1.2.2
lxml==4.9.1
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.5.3
mock==2.0.0
numpy==1.11.3
obspy==1.0.2
pandas==0.19.2
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.1
ptyprocess==0.5.1
py==1.4.32
Pygments==2.1.3
pylint==1.6.4
pyparsing==2.1.10
pytest==3.0.5
pytest-cov==2.4.0
pytest-mock==1.5.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
scipy==0.18.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.1
SQLAlchemy==1.1.4
Werkzeug==0.11.15
wrapt==1.10.8
