<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<!--
	<meta name="description" content="The HTML5 Herald">
	<meta name="author" content="SitePoint">
	<link rel="stylesheet" href="static/css/styles.css?v=1.0">
	<script src="js/scripts.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
	-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/webapp.css') }}">
	<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
</head>
<body>
<div class='container col-container' id='MyApp' ng-app="MyApp" ng-controller="MyController">
	<div class='pos-top row-container'>
		{% block header %}{% endblock %}
	</div>
	<div class='pos-center row-container'>
		{% block center %}{% endblock %}
	</div>
	<div class='pos-bottom row-container'>
		{% block footer %}{% endblock %}
	</div>
</div>
</body>
	<script src="{{ url_for('static', filename='js/myapp.js') }}"></script>
</html>