{% extends "base.html" %}

{%- block header %}
{{ super() }}
{% endblock %}

{%- block center %}
{{ super() }}
<div class=edit  ng-show='editing'>
	<div class=top>
		<div class=center>
			<button class="btn btn-primary"  ng-disabled="!modified" 
				ng-click="save();" >Save</button>
			<!-- <span ng-show="commits">Current revision: {{ '{{' }} currentCommit() == null ? 'N/A' : currentCommit().hash {{ '}}' }}</span> -->
			<div ng-show="commits" id='commits_div'>
				<button ng-click="showHistory(true)" ng-disabled="modified" 
					class="btn btn-primary">history</button>
				<div id='commits_popup' class=alert ng-show="historyIsShowing">
					<a href="#" ng-click="showHistory(false)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<table>
					<tr ng-repeat="c in commits" >
						<td>
						<pre ng-class="{'bg-success' : currentCommit().hash==c.hash}">
CC: {{ '{{' }} currentCommit().hash {{ '}}' }}
hash: {{ '{{' }} c.hash {{ '}}' }}
date: {{ '{{' }} c.date {{ '}}' }}
{{ '{{' }} c.msg {{ '}}' }}
author: {{ '{{' }} c.author {{ '}}' }}</pre></td>
						<td>
						<button class="btn-sm btn-primary" ng-show="currentCommit().hash!=c.hash" 
							ng-click="currentCommit(c.hash)">view</button>
						<span ng-show="currentCommit().hash==c.hash">(current)</span>
		  				</td>
		  			</tr>
		  			</table>	
				</div>
			</div>
		</div>
		<div class=right>
			<button type="button" class="close" aria-label="Close edit panel" ng-click="toggleEdit()">
		  		<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<div class=center>
		<iframe id='edit_iframe' class='center'></iframe>
	</div>
</div>
<div class=view>
	<div class=top>
		<ul class="nav nav-tabs">
	  		<!-- <li ng-class="{'active' : view=='html'}">
	  			<a href ng-click='setView("html")'>
	  				{{ '{{' }} 'Html' + (view=='html' && needsRefresh ? ' (Click to refresh)' : '') {{ '}}' }}
	  			</a>
	  		</li>
	  		<li ng-class="{'active' : view=='pdf'}">
	  			<a href ng-click='setView("pdf")'>
	  				{{ '{{' }} 'Pdf' + (view=='pdf' && needsRefresh ? ' (Click to refresh)' : '') {{ '}}' }}
	  			</a>
	  		</li> -->
	  		
	  		<li ng-repeat="v in ['html', 'pdf']" ng-class="{'active' : view==v}" ng-disabled='loading'>
	  			<a href ng-click='setView(v)' ng-disabled='loading'>
	  				{{ '{{' }} v + (view==v && needsRefresh[v] ? ' (Click to refresh)' : '') {{ '}}' }}
	  			</a>
	  		</li>		
	  		
	  		
	  		<li ng-show="!editing">  <!-- ng-class="{'active' : editing}"> -->
	  			<a href ng-click="toggleEdit()">Edit source</a>
	  		</li>
		</ul>	
	</div>
	<div class=center>
		<div ng-show='loading' id='loading_div'>
			<div class=waitbar>
				<div></div>
			</div>
			<div class=msg>Building report (it might take few minutes)</div>
		</div>
		
		<!--  I might do this 
		<iframe ng-repeat="v in ['html', 'pdf']" ng-show="view==v" id="{{ '{{' }} v {{ '}}' }} + '_iframe'"></iframe>
		but the iframes are not yet loaded when the main app controller is initialized
		So old school for the moment (too much effort lazily create references to the iframe in
		the controller):
		-->
		<iframe ng-show="view=='pdf'" id='pdf_iframe'></iframe>
		<iframe ng-show="view=='html'" id='html_iframe'></iframe>
	</div>
</div>



{% endblock %}