body, html{
	margin:0;
	padding: 0;
}

.gfz-bg {
    background-image: url(../img/gfz_background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

.col-container{
	display: flex;
	flex-direction: column;
}

.row-container{
	display: flex;
	flex-direction: row;
}

.col-container .pos-top,
.col-container .pos-bottom,
.row-container .pos-left,
.row-container .pos-right{
	flex: 0 0 auto;
}

.col-container .pos-center,
.row-container .pos-center{
	flex: 1 1 50%;
}

div.container{
	width:100vw;
	height:100vh;
}

.logo-top-left, .logo-bottom-right{
	position: fixed;
}

.logo-top-left{
	top: 2em;
	left: 2em;
}

.logo-bottom-right{
	bottom: 2em;
	right: 2em;
}

/*
DECORATION STUFF:-----------------------------------------------------------------
*/

.inline-help{
	color: #aaa;
	font-size:smaller;
}

/* make borders and visually consistent with bootstrap tabs: */

iframe{
	border: 0;
}

div.edit > div.pos-center,
div.view > div.pos-center{
	border: 1px solid #ddd;
}
/* bootstrap tabs have already border-bottom, remove top: */
div.view > div.pos-center{
    border-top: 0;
}

/* make edit top panel align with bootstrap nav buttons (vertically)*/
div.edit > div.pos-top > div.pos-center{
	padding: 4px 0px;
}

div.edit > div.pos-top > div.pos-right > button.close{
	font-size: xx-large;
    padding-right: 2px;
    opacity: .33;
}

div.edit > div.pos-top > div.pos-right > button.close:hover{
	opacity: .66;
}

/* adjusting padding between panels and page padding*/
div.container{
	padding: 7px 0px; !important /*override .container in bootstrap*/
}
div.edit, div.view{
	padding: 0px 7px;
}
/*
DECORATION STUFF------------------------------------------------------------------
*/

div.view > div.pos-center{
	position: relative;
}
/* loading div and animations: */
div#loading_div{
	/* two lines above force children to have the same opacity, so:*/
	z-index: 100;
	background-color: rgba(255, 255, 255, .5);
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	padding:0;
	margin: 0;
	text-align:center;
	display:table-cell;
    vertical-align:middle;
}

div#loading_div .msg{
	top: 50%;
    position: relative;
    text-shadow: 0px 0px 4px #FFFFFF;
}

div#loading_div .waitbar{
	width: 10%;
	left: 45%;
	top: 50%;
	background-color: rgba(255, 255, 255, .75);
    height:2em;
    border: 1px solid #000;
    overflow:hidden;
    position: relative;
    border-radius: 5px;
}

div#loading_div .waitbar > div {
	width: 25%;
    height: 100%;
    background-color: #337ab7;  /* bootstrap bg-primary*/
    position: absolute;
    -webkit-animation-name: waitbar; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: waitbar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

label{ /* override bootstrap */
	font-weight: normal !important;
}

.pre {  /* copied from bootstrap <pre> element */
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#logs_popup .panel-title{
	margin-bottom: 10px;
    margin-top: 15px;
}

.error {
    color: #d9534f;  /* copied from bootstrap btn danger */
    /*background-color: #f0ad4e;
     border-color: #eea236; */
}

.error-bg {
    background-color: #d9534f !important;  /* copied from bootstrap btn danger */
    color: #ffffff !important;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes waitbar {
    0%   {left:0px}
    100% {left:100%}
}

/* Standard syntax */
@keyframes waitbar {
    0%   {left:0px}
    100% {left:100%}
}


div.view div.pos-top{
	position: relative;
}

div.view div.pos-top #top-right-div{
	position: absolute;
	top:0px;
	right:0px;
}

div#editor_keys_info{
	display:inline-block;
	margin-right:2em;
	font-size: smaller;
}


/* POPUPS */

/* important layout (with flex) */
div.popup {
  display: flex;
  flex-direction: column;
}
div.popup > div:nth-of-type(1){
  flex: 0 1 auto;
}
div.popup > div:nth-of-type(2){
  flex: 1 1 auto;
  overflow: auto;
}
div.popup > div:nth-of-type(3){
  flex: 0 1 auto;
}
div.popup > div:nth-of-type(1), .popup > div:nth-of-type(3){
  display: flex;
  flex-direction: row;
}
div.popup > div:nth-of-type(1) > div,
div.popup > div:nth-of-type(3) > div{  /* title div, and errMsg div */
  flex: 1 1 auto;
}
div.popup > div:nth-of-type(1) > button,
div.popup > div:nth-of-type(3) > button{ /*close button, and OK/Submit button */
  flex: 0 1 auto;
}

/* setting position and dimensions */
div.popup{
	position: fixed;
    /* this sets up the horiz. centering doesnt work for ie6-7 so who cares */
	margin: 7vh auto;
    left: 0;
    right: 0;
	/* to let it work we must set also max-width HERE (max-height in the child div): */
	max-width: 50vw;
}
div.popup > div:nth-of-type(2){
	overflow: auto;
	max-height: 75vh;
}

/* decorations / layout / loogk and feel */
div.popup{
	border: 1px solid #ddd;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 5px;
    z-index: 100;
}
div.popup > div:nth-of-type(1){
	align-items: baseline;
	margin-bottom:10px;
	/* background-color: #f2f5fa; */
    padding-bottom: 5px;
    padding-top: 1px;
    border-radius: 2px;
}
div.popup > div:nth-of-type(3){
	align-items: flex-end; /*baseline;*/
	margin-top:15px;
}
div.popup > div:nth-of-type(1) > button, div.popup > div:nth-of-type(3) > button {
    margin-left: 10px;
}
div.popup > div:nth-of-type(3) > div:nth-of-type(1){
	color: #d40;
}
div.popup > div:nth-of-type(1) > div:nth-of-type(1){ /* title div (top panel) */
    font-size: initial;
}
div.popup > div:nth-of-type(1) > button{ /* close button (top panel) */
	font-size: x-large;
}

/* other popup stuff (specific) */

.gitdiff-add{
	color: #5cb85c;
}

.gitdiff-rem{
	color: #d9534f;
	text-decoration: line-through;
}

.gitdiff-line{
	white-space: pre;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;  /* copied from bootstrap <pre> */
}

div.commit-popup-divheader{
	margin-bottom:10px;	
}

div.commit-chunk-diff{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    /* background-color: #f5f5f5; */
    border: 1px solid #ccc;
    border-radius: 4px;
	overflow: auto;
}
